<li class="list-group-item item" data-id="id">
  <span class="name" data-content="text"></span>
  <span class="unit" data-content="unit"></span>
  <div class='actions'>
    <div class="input-group quantity">
      <input type="text" class="form-control quantity" data-value="quantity" aria-describedby="basic-addon1">
    </div>
    <div class="btn-group change-quantity" role="group">
      <button type="button" class="btn btn-danger" data-template-bind='[{"attribute": "data-item", "value": "item"}]'>-</button>
      <button type="button" class="btn btn-success" data-template-bind='[{"attribute": "data-item", "value": "item"}]'>+</button>
    </div>
    <a href="" class="remove" data-template-bind='[{"attribute": "data-item", "value": "item"}]'>
      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
    </a>
  </div>
</li>
