/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#E4E4E4;
  background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #A7A7A7),
    color-stop(0.51, #E4E4E4)
  );
  background-attachment:fixed;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:15px;
  height:100%;
  margin:0px;
  padding:0px;
  padding-top: 50px;
  text-transform:uppercase;
  width:100%;
}

.row {
  margin-top: 20px;
}

#add-new-item {
  width: 100%;
}

#add-new-item .selection {
  padding-top: 10px;
}

#add-new-item b {
  margin-top: 10px;
}

.actions {
  float: right;
  margin-top: -9px;
}

.item {
  padding: 20px 15px;
}

.quantity  {
  float: left;
  width: 45px;
}

.quantity input {
  width: 45px;
  text-align: center;
  height: 40px;
}

.change-quantity {
  float: left;
  margin-left: 5px;
}

.change-quantity .btn {
  padding: 6px 13px;
  font-size: 18px;
}

.change-quantity .btn-danger {
  padding: 6px 15px;
}

.glyphicon-remove-sign {
  float: left;
  font-size: 32px;
  margin-top: 5px;
  margin-left: 15px;
  color: #333;
}

.name {
  font-weight: bold;
}

.item .unit {
  margin-top: -2px;
  font-size: 9px;
  color: #BABDB6;
}

.select2-container .select2-selection--single {
  height: 55px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 14px;
  right: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 52px;
}

/* Portrait layout (default) */
.app {
  background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
  position:absolute;             /* position in the center of the screen */
  left:50%;
  top:50%;
  height:50px;                   /* text area height */
  width:225px;                   /* text area width */
  text-align:center;
  padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
  margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                 /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {
    background-position:left center;
    padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
    margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                  /* offset horizontal: half of image width and text area width */
  }
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

 
@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}
